service cloud.firestore {
  match /databases/{database}/documents {
   match /bars/{document=**} {
      // Applies to single document read requests
      allow read: if request.auth != null;

      // Applies to queries and collection read requests
      allow list: if request.auth != null;

      // Applies to writes to nonexistent documents
      allow create: if false;

      // Applies to writes to existing documents
      allow update: if request.auth != null;

      // Applies to delete operations
      allow delete: if false;
    }
    match /users/{userId}{
      // Applies to single document read requests
      allow read: if request.auth != null;

      // Applies to queries and collection read requests
      allow list: if request.auth != null;

      // Applies to writes to nonexistent documents
      allow create: if request.auth.uid != null;

      // Applies to writes to existing documents
      allow update: if request.auth != null;

      // Applies to delete operations
      allow delete: if false;
    }
  }
}
