.body{
  margin-top: 15vh;
  text-align: center;
}
.body li{
  list-style: none;
  display: inline-block;
  padding: 1rem;
}
.body img{
  width: 75px;
  height: auto;
  background-color: white;
  border-radius: 50px;
}
.body span i{
  padding: 1rem;
  color: #F25757;
}
.profile_pic{
  width: 11vw;
  height: 20vh;
  background-color: white;
  border-radius: 75%;
}
.close{
  position: absolute;
right: 0vw;
top: 0vw;
}
.page_title{
  letter-spacing: .5rem;
  margin: .5rem;
}
.page_title hr{
  width: 20vw;
}
.name{
  letter-spacing: 0.25rem;
  color: #F25757;
}
