.body{
  margin-top: 11vh;
  text-align: center;
}
.body li{
  list-style: none;
  display: inline-block;
  padding: 1rem;
}
.body img{
  width: 75px;
  height: auto;
  background-color: white;
  border-radius: 50px;
}
.body span i{
  padding: 1rem;
}
.profile_pic{
  text-align: center;
}
.close{
  position: absolute;
right: 0vw;
top: 0vw;
}
