<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">BARZ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/#/main">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/#/friends">Friends<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#/settings">Settings</a>
      </li>

    </ul>
    <form>
      <li class="nav-item logout">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="logout()">Logout</button>
      </li>
    </form>

  </div>
</nav>
<div class="body col-md-12">
  <h2>Friends<hr></h2>

  <ul class="col-md-12">
    <li>
      <a data-toggle="modal" role="button" data-target="#friend1_mod"><img src='./assets/friend.png'></a>
      <h4>Friend Name1</h4>
      <span><i class="fa fa-comments fa-lg" aria-hidden="true"></i><i class="fa fa-times fa-lg" aria-hidden="true"></i>
</span>
    </li>
    <!--FRIEND ONE PROFILE VIEW MODAL-->
      <div id="friend1_mod" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="profile_pic col-md-12">
                <h2 class="name" id="friend1_mod_name">Friend Name1</h2>
                <img src='./assets/friend.png'>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
            </div>
            <div class="modal-body">
              <p class="bio">friends bio for their profile</p>
                <h5 class="fav-bar">Favorite Bar: Bar Choice</h5>
                <h5 class="fav-drink">Favorite Drink: Drink Name</h5>
            </div>
          </div>
        </div>
    </div>
    <li>
      <a data-toggle="modal" role="button" data-target="#friend2_mod"><img src='./assets/friend.png'></a>
      <h4>Friend Name2</h4>
      <span><i class="fa fa-comments fa-lg" aria-hidden="true"></i><i class="fa fa-times fa-lg" aria-hidden="true"></i>
</span>

    </li>
    <!--FRIEND TWO PROFILE VIEW MODAL-->
      <div id="friend2_mod" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="profile_pic col-md-12">
                <h2 class="name" id="friend1_mod_name">Friend Name2</h2>
                <img src='./assets/friend.png'>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
            </div>
            <div class="modal-body">
              <p class="bio">friends bio for their profile</p>
                <h5 class="fav-bar">Favorite Bar: Bar Choice</h5>
                <h5 class="fav-drink">Favorite Drink: Drink Name</h5>
            </div>
          </div>
        </div>
    </div>
    <li>
    <a data-toggle="modal" role="button" data-target="#friend3_mod">  <img src='./assets/friend.png'></a>
      <h4>Friend Name3</h4>
      <span><i class="fa fa-comments fa-lg" aria-hidden="true"></i><i class="fa fa-times fa-lg" aria-hidden="true"></i>
</span>
    </li>
    <!--FRIEND THREE PROFILE VIEW MODAL-->
      <div id="friend3_mod" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="profile_pic col-md-12">
                <h2 class="name" id="friend1_mod_name">Friend Name1</h2>
                <img src='./assets/friend.png'>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
            </div>
            <div class="modal-body">
              <p class="bio">friends bio for their profile</p>
                <h5 class="fav-bar">Favorite Bar: Bar Choice</h5>
                <h5 class="fav-drink">Favorite Drink: Drink Name</h5>
            </div>
          </div>
        </div>
    </div>
    <li>
      <a data-toggle="modal" role="button" data-target="#friend4_mod"><img src='./assets/friend.png'></a>
      <h4>Friend Name4</h4>
      <span><i class="fa fa-comments fa-lg" aria-hidden="true"></i><i class="fa fa-times fa-lg" aria-hidden="true"></i>
</span>

    </li>
    <!--FRIEND FOUR PROFILE VIEW MODAL-->
      <div id="friend4_mod" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="profile_pic col-md-12">
                <h2 class="name" id="friend1_mod_name">Friend Name1</h2>
                <img src='./assets/friend.png'>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
            </div>
            <div class="modal-body">
              <p class="bio">friends bio for their profile</p>
                <h5 class="fav-bar">Favorite Bar: Bar Choice</h5>
                <h5 class="fav-drink">Favorite Drink: Drink Name</h5>
            </div>
          </div>
        </div>
    </div>
    <li>
    <a data-toggle="modal" role="button" data-target="#friend5_mod"><img src='./assets/friend.png'></a>
      <h4>Friend Name5</h4>
      <span><i class="fa fa-comments fa-lg" aria-hidden="true"></i><i class="fa fa-times fa-lg" aria-hidden="true"></i>
</span>
    </li>
    <!--FRIEND FIVE PROFILE VIEW MODAL-->
      <div id="friend5_mod" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="profile_pic col-md-12">
                <h2 class="name" id="friend1_mod_name">Friend Name1</h2>
                <img src='./assets/friend.png'>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              </div>
            </div>
            <div class="modal-body">
              <p class="bio">friends bio for their profile</p>
                <h5 class="fav-bar">Favorite Bar: Bar Choice</h5>
                <h5 class="fav-drink">Favorite Drink: Drink Name</h5>
            </div>
          </div>
        </div>
    </div>
  </ul>
</div>
