<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">BARZ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#/main">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#/friends">Friends<span class="sr-only">(current)</span><sup *ngIf="requests">{{requests}}</sup></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/settings">Settings</a>
      </li>

    </ul>
    <form>
      <li class="nav-item logout">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="logout()">Logout</button>
      </li>
    </form>

  </div>
</nav>

<div class="body col-md-12">
  <h2 class="page_title">Requests
    <hr>
  </h2>
  <div class="requests" *ngFor='let r of reqs; let i = index'>
    <ul class="col-md-12" *ngIf='r'>
      <li class="request_list">
        <a data-toggle="modal" role="button" data-target="#request_modal" (click)="getCurrentFriend(i)"><img class="profile_pic" src='{{r.photoURL}}' onerror="this.src = './assets/friend.png';"></a>
        <h4>{{r.firstName}} {{r.lastName}}</h4>
        <span><i class="fas fa-check fa-lg" (click)="confirmRequest(i)"></i><i class="fa fa-times fa-lg" aria-hidden="true" (click)="declineRequest(i)"></i>
        </span>
      </li>

    </ul>

  </div>
  <div id="request_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" *ngIf="currentRequest">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-md-12">
            <img class="profile_pic" src='{{currentRequest.photoURL}}' onerror="this.src = './assets/friend.png';">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
        </div>
        <div class="modal-body">
          <h2 class="name" id="friend{{i}}_mod_name">{{currentRequest.firstName}} {{currentRequest.lastName}}</h2>

          <p class="bio">{{currentRequest.bio}}</p>
          <h5 class="fav-bar">{{f.favBar}}</h5>
          <h5 class="fav-drink">{{currentRequest.favDrink}}</h5>
        </div>
      </div>
    </div>
  </div>
  <h2 class="page_title">Friends
    <hr>
  </h2>

  <button class="btn btn-default add" type="submit" name="addFriends" data-toggle="modal" data-target="#add_friends">Add Friend</button>
  <div class="table">
    <ul class="col-md-12 friend_list">
      <li class="list-inline-item friend_item" *ngFor="let f of friends; let i = index">
        <a data-toggle="modal" role="button" data-target="#friend_modal" (click)="getCurrentFriend(i)"><img class="profile_pic" src='{{f.photoURL}}' onerror="this.src = './assets/friend.png';"></a>
        <h4>{{f.firstName}} {{f.lastName}} </h4>
        <span><i class="fa fa-comments fa-lg" aria-hidden="true"></i><i class="fa fa-times fa-lg" aria-hidden="true" (click)="deleteFriend(i)"></i>
        </span>
      </li>
      <!--FRIEND ONE PROFILE VIEW MODAL-->
    </ul>
    </div>

  <div id="friend_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" *ngIf="currentFriend">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-md-12">
            <img class="profile_pic" src='{{currentFriend.photoURL}}' onerror="this.src = './assets/friend.png';">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
        </div>
        <div class="modal-body">
          <h2 class="name" id="friend{{i}}_mod_name">{{currentFriend.firstName}} {{currentFriend.lastName}}</h2>

          <p class="bio">{{currentFriend.bio}}</p>
          <h5 class="fav-bar">{{currentFriend.favBar}}</h5>
          <h5 class="fav-drink">{{currentFriend.favDrink}}</h5>
          <h5 class="fav-bar">{{currentFriend.relationshipStatus}}</h5>
          <h5 class="fav-bar">{{currentFriend.occupation}}</h5>

        </div>
      </div>
    </div>
  </div>
  <div id="add_friends" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Add Friends</h2>
        </div>
        <div class="modal-body">
          <form class="example" [formGroup]="searchFriendsForm" (ngSubmit)="searchFriends()">
            <div class="input-group mb-3 search_group">
              <input type="text" class="search_input" formControlName="searchField" placeholder="Search by email..." name="search">
              <div class="input-group-prepend">
                <br>
                <span class="input-group-text search" id="basic-addon1"><button class="btn btn-primary search" type="submit"><i class="fa fa-search"></i></button></span>
              </div>
            </div>
            <ul *ngIf="searchResults" class="results">
              <li>
                <img class="profile_pic" src='{{searchResults.photoURL}}' onerror="this.src = './assets/friend.png';">
                <h2 class="name">{{searchResults.firstName}} {{searchResults.lastName}}</h2>
                <p class="bio">{{searchResults.bio}}</p>
                <button class="btn btn-danger request_btn" id="request" (click)="requestFriend()" [disabled]="!isNotFriends" *ngIf="isNotFriends && isNotRequested && isNotSent">Add Friend</button>
                <button class="btn btn-danger request_btn" id="request" (click)="confirmRequest()" [disabled]="!isNotFriends" *ngIf="isNotFriends && isNotSent && !isNotRequested">Confirm Request</button>
                <button class="btn btn-danger request_btn" id="request" [disabled]="!isNotFriends" *ngIf="!isNotFriends && isNotRequested && isNotSent">Already Friends</button>
                <button class="btn btn-danger request_btn" id="request" [disabled]="true" *ngIf="isNotFriends && isNotRequested && !isNotSent">Request Sent</button>

              </li>
            </ul>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">
            Close</button>
        </div>
      </div>
    </div>
  </div>



</div>
