@media only screen and (max-width: 600px) {
  .search_input{
    background: white;
    width: 66% !important;
  }
  .profile_pic{
    width:30vw !important;
  }
}
.body{
  margin-top: 15vh;
  text-align: center;
}
.body li{
  list-style: none;
  display: inline-block;
  padding: 1rem;
}
.body span i{
  padding: 1rem;
  color: #F25757;
}
.results{
  text-align: center;
}
 .profile_pic{
   width: 8vw;
   max-height: 15vh;
   background-color: white;
   border-top-left-radius: 50% 50% !important;
   border-top-right-radius: 50% 50% !important;
   border-bottom-right-radius: 50% 50% !important;
   border-bottom-left-radius: 50% 50% !important;
   vertical-align: middle;
}
.close{
  position: absolute;
  right: 0vw;
  top: 0vw;
}
.page_title{
  letter-spacing: .5rem;
  margin: .5rem;
}
.page_title hr{
  width: 20vw;
}
.name{
  letter-spacing: 0.25rem;
  color: #F25757;
}
.request_list{
  display: inline-block;
}
.request_btn{
  background: white;
  color: #F25757;
}
.friend_item{
    display:inline-block !important;
    vertical-align: top;
    width: 50%;
}
.add{
  background: white;
}
.search{
  background: white;
  border: none;
}
.search_input{
  background: white;
  width: 70%;
}
.search_group{
  margin-left: 1.5vw;
}
.friend_list{
  text-align: center;
}
.friend_item{
  display:inline-block;
  width: fit-content;
  max-width: 38vw;
}
