.login, .signup{
  text-align: center;
}
@media (max-width: 900px) {
  .login_form, .signup_form{
    width: 50vw;
    margin: 0 auto;
  }
}
.login_form, .signup_form{
  width: 33vw;
  margin: 0 auto;
}
.providers{
  width: 50%;
  margin: 0 auto;
}
.providers button{
  font-size: 1rem;
  color: black;
  background: white;
}

.google{
  background-image: url("../../assets/gmail.png");
  background-position: center;
  background-size: cover;
  margin-right: 0.5vw;
  padding: .6rem;
}

form.signup_form{
  width: 33vw;
}
.tos-label{
  padding: .5rem;
}
