.login, .signup{
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .login_form{
    width: 55vw !important;
    margin: 25vh auto 0;
  }
 .signup_form{
   width: 55vw !important;
   margin: 0 auto;
 }
}
.login_form{
  width: 55vw !important;
  margin: 25vh auto 0;
}
.signup_form{
 width: 55vw !important;
 margin: 0 auto;
}
.providers{
  width: 50%;
  margin: 0 auto;
}
.providers button{
  font-size: 1rem;
  color: black;
  background: white;
}

.google{
  background-image: url("../../assets/gmail.png");
  background-position: center;
  background-size: cover;
  margin-right: 0.5vw;
  padding: .6rem;
}

form.signup_form{
  width: 33vw;
}
.tos-label{
  padding: .5rem;
}
