:root {
  --voted-color: #49f95e;
  --voted-secondary-color: #11671b;
}
.body{
  align-items:  center;
  display: flex;
  flex-direction: column;
}
.body li{
  list-style: none;
  width: 80vw;
  /* border: .5px solid black; */
  border-radius: 20px;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-top: 1.2vh;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
}
.body h5{
  text-align:center;
  margin-top: 1rem;
}
mat-progress-bar{
  position: relative;
  border-radius: 20px;
  height: 50px;
  box-shadow: 1px 5px 1px 3px rgba(10, 10, 10, .2);
}
.mat-progress-bar-fill.voted-fill{
  background: var(--voted-color) !important;
}
.voted-buffer{
  background: var(--voted-secondary-color);
}
