@media only screen and (max-width: 600px) {
  .clear{
    background: #f8f9fa;
    color: black;
    position: fixed;
    top: 10vh !important;
    width: 50vw !important;
    z-index: 999;
    border: 0;
  }
}
.body li{
  list-style: none;
  width: 80vw;
  /* border: .5px solid black; */
  border-radius: 20px;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-top: 1.2vh;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
}
.body h5{
  text-align:center;
  margin-top: 1rem;
}
mat-progress-bar{
  position: relative;
  border-radius: 20px;
  height: 50px;
  box-shadow: 1px 5px 1px 3px rgba(10, 10, 10, .2);
}

.vote{
  padding: .5rem;
  color: black;
  font-size: 1.25rem;
  background: linear-gradient(to right, #3b8e68 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .66s ease-in;
  width: 33%;
  border-radius: 3px;
}

.rest_name{
  font-size: 2rem;
}
.rest_name a{
  color: white;
}
.modal-header{
  color: #F25757;
}
.vote_section{
  margin-top: 5vh;
padding: 1rem;
}

agm-map {
  height: 30vh;
}
.clear{
  background: #f8f9fa;
  color: black;
  position: fixed;
  top: 95vh;
  width: 30vw;
  z-index: 999;
  border: 0;
  font-size: 20px;
  letter-spacing: .2rem;
}
.loading-icon{
  position: absolute;
  top: 45vh;
  width: 100%;
  overflow: visible;
  height: 25%;
  background: url("../../assets/loader.gif") center no-repeat;
}
