<div class="body container">
  <div class="row">
    <div class="welcome">
      <h2>Welcome to Barz!</h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <h4>Thank you for taking the time to register for Barz <br> Before you continue and vote on where you are headed for the night you must verify your account!</h4>
    <hr>
  </div>
  <div class="row">
    <h5>If you did not receive the verification email, please click below to resend the verification email</h5>
  </div>
  <div class="row">
    <button class="btn btn-danger" (click)="resendEmail()">Resend Verification Email</button>
  </div>
</div>
