.body{
  margin-top: 15vh;
  background-color: #f8f9fa;
  color: black;
  border-radius: 10px;
  width: 100%;
  box-shadow: 1px 5px 1px 3px rgba(10, 10, 10, .2);
  font-size: 1.5rem;
}
.welcome{
  padding: 1rem;
}
.row{
  padding: .5rem;
}
.row h4{
  text-align: center;
}
