@media only screen and (max-width: 900px) {
  .body{
    margin-top: 20vh;
    background-color: #f8f9fa;
    color: black;
    border-radius: 10px;
    width: 85% !important;
    box-shadow: 1px 5px 1px 3px rgba(10, 10, 10, .2);
  }
  .body img{
    width: 30vw !important;
    max-width: 30vw !important;
    height: 30vw !important;
    max-height: 30vw !important;
  }
}
.body{
  margin-top: 17vh;
  background-color: #f8f9fa;
  color: black;
  border-radius: 10px;
  width: 45%;
  box-shadow: 1px 5px 1px 3px rgba(10, 10, 10, .2);
  font-size: 1.5rem;
}

 .body img{
   max-width: 8vw;
   width: 8vw;
   max-height: 15vw;
   height: 15vh;
   background-color: white;
   border-top-left-radius: 50% 50% !important;
   border-top-right-radius: 50% 50% !important;
   border-bottom-right-radius: 50% 50% !important;
   border-bottom-left-radius: 50% 50% !important;
   vertical-align: middle;
}

.bio{
  text-align: center;
  vertical-align: middle;
}
.edit i{
left: 20vw;
top: 2vh;
position: relative;
float: right;
}
.row{
  text-align: center;
}
.name{
  letter-spacing: 0.25rem;
  color: #F25757;
}
.genders label{
  padding: .5rem;
      margin: 0 auto;
}
