<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">BARZ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
  data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/#/main">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#/friends">Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#/profile">Profile</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/#/settings">Settings<span class="sr-only">
          (current)</span></a>
      </li>

    </ul>
    <form>
      <li class="nav-item logout">
        <button class="btn btn-outline-danger my-2 my-sm-0"
                       type="submit" (click)="logout()">Logout
        </button>
      </li>
    </form>

  </div>
</nav>

<div class= "text">
 <h1>Welcome to BARZ</h1>
</div>

<hr>

<div class= "faq">

  <label for="customRange3">Example range: {{range}}</label>
  <input type="range" class="custom-range" [(ngModel)]="range" min="0" max="50" id="customRange3">
  <h2> FAQs </h2>


  <pre>
      Press the Vote button to attend bar.
  </pre>

  <pre>
      Press " i " icon next to bar to view information
      about that particular bar.
  </pre>







</div>
<hr>

<div class= "deleteP">

  <h2> Delete Profile </h2>


    <button type="button"
      onclick="alert('Account Deleted')">DELETE ACCOUNT
    </button>


</div>
<hr>
